@use 'variables';
@use 'mixins';

.btn-intro {
    width: 100%;
    height: 68px;
    border: 0;
    border-radius: 14px;
    background-color: variables.$dark;
    cursor: pointer;

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: variables.$white;

    @include mixins.desktop {
        width: 264px;
    }
}

.btn-menu {
    @include mixins.center;
    cursor: pointer;

    @include mixins.desktop {
        display: none;
    }

    span {
        font-size: 1.8rem;
        color: variables.$black;
    }
}

.btn-request {
    @extend .btn-intro;
    background-color: transparent;
    border: 1px solid variables.$dark;

    color: variables.$dark;
}

.btn-close {
    @extend .btn-menu;
}

.btn-cta {
    @extend .btn-intro;
    height: 58px;
    font-size: 15px;

    @include mixins.desktop {
        width: 288px;
        height: 68px;

        font-size: 20px
    }
}

.btn-more {
    @include mixins.center;
    width: 30px;
    height: 30px;
    background-color: variables.$gray;
    border: 1px solid variables.$dark;
    border-radius: 50%;   
    cursor: pointer;

    @include mixins.desktop  {
        width: 58px;
        height: 58px;
    }

    span {
        color: variables.$dark !important;

        @include mixins.desktop  {
            font-size: 40px;
            font-weight: bold
        }
    }
    
}

.btn-all {
    @extend .btn-intro;
}

.btn-testimonials {
    @include mixins.center;
    cursor: pointer;
    
    span {
        transition: color .9s ease;
        color: rgba(variables.$white, 0.40);

    }
}

.active {

    span {
        color: variables.$white;
    }
}

.btn-msg {
    @extend .btn-intro;
}

.mob {

    @include mixins.desktop {
        display: none
    }
}

.desk {
    display: none;

    @include mixins.desktop {
        display: block;
        width: 100%;
    }
}

.btn-sub {
    @extend .btn-intro;
    background-color: variables.$green;
    color: variables.$black;

    @include mixins.desktop {
        width: 249px;
        height: 67px
    }
}

