@use 'variables';
@use 'mixins';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-inline: 20px;
    position: relative;

    @include mixins.desktop {
        max-width: 1440px;
        height: 68px;
        padding: 80px 80px 0px 80px;
    }

    .container-logo {

        @include mixins.desktop {
            @include mixins.center;
            width: 190px;
            height: 56px;
            cursor: pointer;
        }

        img {
            width: 130px;
            object-fit: contain;

            @include mixins.desktop {
                width: 100%;
                height: 36px;
            }
        }
    }

    .navbar {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 50px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        width: 250px;
        height: 100vh;
        padding: 20px 20px 200px 20px;
        background-color: variables.$gray;

        @include mixins.desktop {
            display: flex;
            flex-direction: row;
            gap: 30px;
            position: relative;
            z-index: 0;
            padding: 0;
            width: 811px;
            height: 68px;
            background-color: transparent;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 100%;
            list-style: none;

            @include mixins.desktop {
                flex-direction: row;
                justify-content: center;
                height: 100%;
                gap: 30px
            }

            li {
                @include mixins.center;
                padding-block: 5px;
                width: 100%;

                @include mixins.desktop {
                    height: 100%;
                    cursor: pointer;
                }

                @include mixins.p;
                font-size: 25px;
            }
        }

    }
}