@use 'variables';
@use 'mixins';

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;

    @include mixins.desktop {
        gap: 140px;
        max-width: 1440px;
        padding-inline: 80px;
        margin: 0 auto;
    }
    
    .sec {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 340px;

        @include mixins.desktop {
            width: 100%;
            gap: 80px;
        }

        .sec-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            text-align: center;

            @include mixins.desktop {
                width: 100%;
                flex-direction: row;
                gap: 40px;
            }

            .container-title {
                display: flex;
                flex-direction: column;
                align-items: center;

                @include mixins.desktop {
                    flex-direction: row;
                    border-radius: 7px;
                    background-color: variables.$green;
                }

                .subtitle {

                    @include mixins.desktop {
                        padding-left: 0
                    }
                }
            }

            h2 {
                @include mixins.title(36);
                padding-inline: 10px;
                background-color: variables.$green;
                border-radius: 7px;

                @include mixins.desktop {
                    font-size: 40px
                }

                @include mixins.between-large {
                    font-size: 35px
                } 
            }

            p {
                @include mixins.p;
                font-size: 14px;

                @include mixins.desktop {
                    text-align: left;
                    width: 580px;
                }
            }

            .wor-p {
                @include mixins.desktop {
                    width: 292px;
                    
                }
            }

            .t-p {
                @include mixins.desktop {
                    width: 473px;
                    
                }
            }

            .con-p {
                @include mixins.desktop {
                    width: 323px;
                    
                }
            }
        }

        .services-cards {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;

            @include mixins.desktop {
                display: grid;
                grid-template-columns: repeat(2, minmax(400px, 570px));
                justify-content: space-between;
                gap: 40px;
            }

            .card-serv {
                @include mixins.card-serv(variables.$gray);

                .content-card-serv {
                    @include mixins.alinhar-b;
                    flex-direction: row;
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .container-card-txt {
                        @include mixins.alinhar-b;

                        @include mixins.desktop {
                            align-items: flex-start;
                            position: relative;
                            z-index: 555;
                        }

                        h3 {
                            @include mixins.title(25);
                            padding-inline: 10px;
                            background-color: variables.$green;
                            border-radius: 7px;

                            @include mixins.desktop {
                                font-size: 30px;
                            }
                            
                        }

                        .ts {
                            width: 177px;

                            @include mixins.desktop {
                                width: 200px;
                            }
                        }
                        
                        a {
                            @include mixins.center;
                            gap: 15px;
                            font-size: 20px;
                            text-decoration: none;
                            color: variables.$black;

                            .ic {
                                @include mixins.arrow(variables.$dark, variables.$green);
                            }

                            .txt {
                                display: none;

                                @include mixins.desktop {
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    .container-img-card {
                        position: absolute;
                        right: 0;
                        bottom: 20px;
                        width: 150px;

                        @include mixins.desktop {
                            width: 210px;
                            height: 170px;
                            z-index: 222;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                            @include mixins.desktop {
                                object-fit: contain
                            }
                        }
                    }

                }
            }

            .gre {
                @include mixins.card-serv(variables.$green);

                .content-card-serv {

                    .container-card-txt {

                        h3 {
                            background-color: variables.$white;
                        }

                        .ts {
                            width: 185px;
                        }
                    }
                }
            }

            .dark {
                @include mixins.card-serv(variables.$dark);

                .content-card-serv {

                    .container-card-txt {

                        h3 {
                            background-color: variables.$white;
                        }

                        .ts {
                            width: 146px;
                        }

                        .ts-3 {
                            width: 165px;
                        }

                        a {
                            @include mixins.desktop {
                                color: variables.$white
                            }
                            .ic {
                                @include mixins.arrow(variables.$white, variables.$dark);
                            }
                        }
                    }

                    .card-3 {
                        bottom: 0px;
                    }
                }
            }

            .card-4 {
                .content-card-serv {
                
                    .container-card-txt {
                        h3 {
                            width: 85px;

                            @include mixins.desktop {
                                width:95px;
                            }
                        }

                        .ts {
                            width: 146px;

                            @include mixins.desktop {
                                width: 165px;
                            }
                        }
                    }

                    .container-img-card {
                        bottom: 10px;
                    }
                }
            }

            .card-5 {
                .content-card-serv {

                    .container-img-card {
                        bottom: 5px;
                    }
                }
            }

            .card-6 {
                .content-card-serv {
                
                    .container-card-txt {
                        h3 {
                            background-color: variables.$green;
                            width: 219px;

                        }

                        .ts {
                            width: 120px;

                            @include mixins.desktop {
                                width: 143px;
                            }
                        }
                    }
                }
            }
        }

        .cta {
            @include mixins.card(variables.$gray);
            border: 0;
            box-shadow: none;

            @include mixins.desktop {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 60px
            }

            .cta-txt {
                @include mixins.alinhar-b;
                height: 100%;
                text-align: left;

                @include mixins.desktop {
                    gap: 26px;
                    width: 500px;
                    height: 227px;
                }

                h3 {
                    @include mixins.title(26);

                    @include mixins.desktop {
                        font-size: 30px;
                    }
                }

                p {
                    @include mixins.p;
                    font-size: 15px;
                    line-height: 19px;
                }
            }

            figure {
                display: none;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                @include mixins.desktop {
                    display: block;
                }
            }
        }

        .container-cards-process {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .card-process {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 85px;
                gap: 20px;
                padding: 18px 30px;
                background-color: variables.$gray;
                @include mixins.bordar;
                border-radius: 45px;
                overflow: hidden;
                transition: height .5s;
                interpolate-size: allow-keywords;

                @include mixins.desktop {
                    height: 159px;
                    padding: 41px 60px;
                }

                .header-card {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    height: 100%;

                    @include mixins.desktop  {
                        height: 77px;
                    }

                    .container-title {
                        display: flex;
                        align-items: center;
                        width: 233px;
                        gap: 10px;

                        @include mixins.desktop  {
                            gap: 25px;
                            width: auto;
                        }

                        h1 {
                            @include mixins.title(35);

                            @include mixins.desktop  {
                                font-size: 60px
                            }
                        }

                        h3 {
                            @include mixins.title(16);

                            @include mixins.desktop  {
                                font-size: 30px
                            }
                        }
                    }

                }

                .line {
                    width: 100%;
                    height: 1px;
                    background-color: variables.$black;
                }

                .container-text {

                    p {
                        @include mixins.p;
                    }
                }
            }

            .active {
                height: auto;
                background-color: variables.$green;
            }
        }

        .container-card-team {
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 1250px;
            overflow: hidden;
            padding-bottom: 20px;
            transition: height .5s;
            interpolate-size: allow-keywords;
            @include mixins.desktop {
                display: grid;
                grid-template-columns: repeat(3, minmax(274px, 383px));
                height: 340px;
                
            }

            .card-person {
                @include mixins.bordar;
                border-radius: 45px;
                padding: 31px 25px;

                @include mixins.desktop {
                    width: 100%;
                    height: 331px;
                    padding: 40px 35px;
                }

                .content-card-person {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .header-card-person {
                        display: flex;
                        align-items: flex-end;
                        gap: 20px;
                        position: relative;

                        .container-foto {
                            width: 95px;

                            img {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }

                        .name-and-cargo {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;

                            h4 {
                                @include mixins.title(18);
                            }

                            p {
                                @include mixins.p;
                            }
                        }

                        .container-icon {
                            @include mixins.center;
                            background-color: variables.$dark;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            right: 0;

                            i {
                                color: variables.$green
                            }
                        }
                    }

                    .line {
                        width: 100%;
                        height: 1px;
                        background-color: variables.$black;
                    }

                    .container-txt {

                        p {
                            @include mixins.p;
                        }
                    }
                }
            }
        }

        .container-testimonials {
            
            .card-testimonials {
                @include mixins.alinhar-b;
                gap: 40px;
                padding: 20px 20px 40px 20px;
                background-color: variables.$dark;
                border-radius: 45px;

                @include mixins.desktop {
                    justify-content: center;
                    align-items: center;
                    height: 625px;
                    gap: 124px;
                    padding: 0;
                }

                .container-tes {
                    @include mixins.desktop {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 50px;
                        width: 100%;
                        overflow: hidden;
                    }

                    .content-testimonials {
                        display: flex;
                        flex-direction: column;
                        gap: 35px;

                        @include mixins.desktop {
                            width: 606px;
                            height: 335px;
                            flex-shrink: 0;
                        }

                        .container-txt {
                            position: relative;
                            padding: 20px;
                            border-radius: 45px;
                            border: 1px solid variables.$green;

                            @include mixins.desktop {
                                @include mixins.center;
                                height: 266px;
                                padding: 0;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -15px;
                                left: 45px;
                                width: 29px;
                                height: 29px;
                                background: variables.$dark;
                                border: 1px solid variables.$green;
                                transform: rotate(45deg);
                                clip-path: polygon(100% 0%, 0% 100%, 100% 100%);

                                @include mixins.desktop {
                                    bottom: -18px;
                                    left: 75px;
                                    width: 34px;
                                    height: 34px
                                }
                            }

                            p {
                                @include mixins.p;
                                font-size: 15px;
                                color: variables.$white;

                                @include mixins.desktop {
                                    font-size: 18px;
                                    width: 502px;
                                }
                            }
                        }

                        .container-name {
                            padding-left: 65px;

                            @include mixins.desktop { 
                                padding-left: 90px                          
                            }

                            h3 {
                                @include mixins.title(16);
                                color: variables.$green;
                            }

                            h4 {
                                @include mixins.title(13);
                                color: variables.$white;
                            }
                            
                        }
                    }

                    .tes-mob {
                        display: none;

                        @include mixins.desktop {
                            display: flex;
                        }
                    }
                }

                .navbar-testimonials {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include mixins.desktop {
                        width: 564px;
                    }

                    .container-stars {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            width: 14px;
                            height: 14px;
                            object-fit: cover;

                        }
                    }
                }
            }
        }

        .container-contact-us {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include mixins.desktop {
                background-color: variables.$gray;
                padding: 60px 100px 80px 100px;
                border-radius: 45px;
                position: relative;
                overflow: hidden;
            }

            .container-form {
                padding: 40px 20px 50px 20px;
                background-color: variables.$gray;
                border-radius: 45px;

                @include mixins.desktop {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    width: 556px;
                    height: 633px;
                    background-color: transparent;
                    padding: 0;
                    border-radius: 0;
                    position: relative;
                    z-index: 777;
                }
                
                .form-contact {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    @include mixins.desktop {
                        gap: 40px;
                    }

                    label {
                        @include mixins.p;
                    }
                    
                    .container-inputs-radio {
                        display: flex;
                        gap: 30px;

                        @include mixins.desktop {
                            width: 100%;
                        }

                        .form-group {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            input[type="radio"] {
                                appearance: none;
                                width: 28px;
                                height: 28px;
                                position: relative;
                                background-color: variables.$white;
                                border: 1px solid variables.$black;
                                border-radius: 50%;
                                cursor: pointer;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 16px;
                                    height: 16px;
                                    background-color: variables.$green;
                                    border-radius: 50%;
                                    opacity: 0;
                                    transition: opacity 0.2s ease;
                                }
                                
                                &:checked::after {
                                    opacity: 1;
                                }
                            }
                        } 
                    }

                    .container-group-form {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 100%;
                        
                        @include mixins.desktop {
                            width: 100%;
                            gap: 25px;
                        }

                        .form-group {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            position: relative;

                            input {
                                height: 59px;
                                border-radius: 14px;
                                border: 1px solid variables.$black;
                                padding-inline: 20px;
                                transition: border 0.3s ease;

                                &::placeholder {
                                    font-size: 18px;
                                    font-weight: 400;
                                    color: #898989;
                                }

                                &:focus {
                                    outline: none;
                                }
                            }

                            .textarea-msg {
                                height: 140px;
                                border: 1px solid variables.$black;  
                                border-radius: 14px;
                                padding: 20px;
                                resize: none;  

                                @include mixins.desktop {
                                    height: 190px;
                                    padding: 18px 30px;
                                }
                                
                                &::placeholder {
                                    font-size: 18px;
                                    font-weight: 400;
                                    color: #898989;
                                }

                                &:focus {
                                    outline: none;
                                }
                            }

                            .error {
                                border: 2px solid variables.$error;
                            }

                            .erro {
                                position: absolute;
                                left: 20px;
                                bottom: -17px;
                                font-size: 13px;
                                font-weight: bold;
                                color: variables.$error;
                            }
                        }
                    }
                }
            } 

            .container-img {
                display: none;
                position: absolute;
                top: 50%;
                right: -327px;
                transform: translateY(-50%);
                height: 648px;

                @include mixins.desktop {
                    display: block;
                }

                img {
                    object-fit: cover;
                }
            }

        }
    }

    

    .case {
        position: relative;
        height: 500px;

        @include mixins.desktop {
            display: flex;
            flex-direction: column;
            gap: 80px;
            height: auto;
        }

        .content-case {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 357px;
            overflow: hidden;

            @include mixins.desktop {
                position: relative;
                width: 100%;
                height: 326px;
                padding: 70px 60px;
                background-color: variables.$dark;
                border-radius: 45px;
                overflow: visible;
            }

            .conatiner-cards-cases {
                display: flex;
                gap: 10px;
                overflow: scroll;
                scroll-behavior: smooth;
                scrollbar-width: none;

                @include mixins.desktop {
                    justify-content: space-between;
                    align-items: center;
                    gap: 0;
                    overflow: visible;
                }
                
                .card-case {
                    @include mixins.alinhar-b;
                    @include mixins.card(variables.$dark);
                    flex-shrink: 0;
                    width: 310px;
                    height: 280px;
                    
                    @include mixins.desktop {
                        width: 286px;
                        height: 188px;
                        flex-shrink: 1;
                        border-radius: 0;
                        padding: 0;
                    }

                    @include mixins.between-large {
                        width: 220px;
                    } 
    
                    p {
                        @include mixins.p;
                        font-size: 14px;
                        color: variables.$white;

                        @include mixins.between-large {
                            font-size: 15px;
                        }
                    }
    
                    a {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        width: 150px;
                        text-decoration: none;
                        color: variables.$green;
                        font-size: 20px;

                        @include mixins.desktop {
                            height: 28px;
                        }
    
                        .ic {
                            font-size: 26px;
                        }
                    }
                }

                .line {
                    display: inline-block;
                    width: 1px;
                    height: 200px;
                    background-color: variables.$white
                }
            }
        }
    }

    .team {
        @include mixins.desktop {
            align-items: flex-end;
            gap: 30px;
        }
    }
}