@use 'variables';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin alinhar-b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin bordar {
    box-shadow: 0 7px 0 variables.$dark;
    border: 1px solid variables.$dark;
}

@mixin card-serv($bg) {
    width: 100%;
    height: 340px;
    padding: 50px;
    border-radius: 45px;
    background-color: $bg;
    @include bordar;

    @include desktop {
        width: 100%;
        height: 310px;
    }
}

@mixin card($bg) {
    width: 100%;
    height: 340px;
    padding: 50px;
    border-radius: 45px;
    background-color: $bg;
}

@mixin arrow($bg, $ct) {
    @include center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: $bg;

    color: $ct;
}

@mixin title($size) {
    font-size: $size * 1px;
    font-weight: 500;
    color: variables.$black;
}

@mixin p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: variables.$black;

    @include desktop {
        font-size: 18px;
    }
}

@mixin desktop {
    @media (width >= 1024px) {
        @content;
    }
}

@mixin between-large {
    @media (min-width: 1024px) and (max-width: 1280px) {
        @content;
    }
}