header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-inline: 20px;
  position: relative;
}
header .container-logo img {
  width: 130px;
  object-fit: cover;
}
header .navbar {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 250px;
  height: 100vh;
  padding: 20px 20px 200px 20px;
  background-color: #F3F3F3;
}
header .navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  list-style: none;
}
header .navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 25px;
}
@media (width >= 1024px) {
  header .navbar ul li {
    font-size: 18px;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px);
}
@media (width >= 1024px) {
  .introduction {
    max-width: 1440px;
    height: 515px;
    padding-inline: 80px;
    margin: 70px auto;
  }
}
.introduction .container-introduction {
  width: 340px;
  height: 100%;
  padding-block: 20px;
  position: relative;
}
@media (width >= 1024px) {
  .introduction .container-introduction {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}
.introduction .container-introduction .container-text-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (width >= 1024px) {
  .introduction .container-introduction .container-text-intro {
    justify-content: flex-start;
    gap: 35px;
    width: 531px;
  }
}
.introduction .container-introduction .container-text-intro h1 {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}
@media (width >= 1024px) {
  .introduction .container-introduction .container-text-intro h1 {
    font-size: 60px;
  }
}
.introduction .container-introduction .container-text-intro .content-txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (width >= 1024px) {
  .introduction .container-introduction .container-text-intro .content-txt {
    gap: 35px;
  }
}
.introduction .container-introduction .container-text-intro .content-txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 15px;
}
@media (width >= 1024px) {
  .introduction .container-introduction .container-text-intro .content-txt p {
    font-size: 18px;
  }
}
@media (width >= 1024px) {
  .introduction .container-introduction .container-text-intro .content-txt p {
    font-size: 20px;
  }
}
.introduction .container-introduction .container-img-intro {
  position: absolute;
  width: 350px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 30px;
}
@media (width >= 1024px) {
  .introduction .container-introduction .container-img-intro {
    position: relative;
    width: 600px;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    padding: 0;
  }
}
.introduction .container-introduction .container-img-intro img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logotypes {
  display: flex;
  flex-direction: column;
  height: 120px;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
}
@media (width >= 1024px) {
  .logotypes {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    height: auto;
    overflow: visible;
    padding-inline: 80px;
    margin: 0 auto 70px auto;
  }
}
.logotypes .container-logos-1,
.logotypes .container-logos-2 {
  display: flex;
  gap: 20px;
}
.logotypes .container-logos-1 img,
.logotypes .container-logos-2 img {
  width: 110px;
  height: 48px;
  filter: grayscale(100%);
}
@media (width >= 1024px) {
  .logotypes .container-logos-1,
  .logotypes .container-logos-2 {
    justify-content: space-between;
    width: 45%;
  }
}
.logotypes .container-logos-1 {
  position: absolute;
  top: 0;
  left: 50px;
}
@media (width >= 1024px) {
  .logotypes .container-logos-1 {
    position: relative;
    left: 0;
  }
}
.logotypes .container-logos-2 {
  position: absolute;
  right: 55px;
  bottom: 0;
}
@media (width >= 1024px) {
  .logotypes .container-logos-2 {
    position: relative;
    right: 0;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}
@media (width >= 1024px) {
  .main-content {
    gap: 140px;
    max-width: 1440px;
    padding-inline: 80px;
    margin: 0 auto;
  }
}
.main-content .sec {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 340px;
}
@media (width >= 1024px) {
  .main-content .sec {
    width: 100%;
    gap: 80px;
  }
}
.main-content .sec .sec-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}
@media (width >= 1024px) {
  .main-content .sec .sec-header {
    flex-direction: row;
    gap: 40px;
  }
}
.main-content .sec .sec-header .container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .sec .sec-header h2 {
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  padding-inline: 10px;
  background-color: #B9FF66;
  border-radius: 7px;
}
@media (width >= 1024px) {
  .main-content .sec .sec-header h2 {
    font-size: 40px;
  }
}
.main-content .sec .sec-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 14px;
}
@media (width >= 1024px) {
  .main-content .sec .sec-header p {
    font-size: 18px;
  }
}
@media (width >= 1024px) {
  .main-content .sec .sec-header p {
    text-align: left;
    width: 580px;
  }
}
.main-content .sec .services-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    gap: 40px;
  }
}
.main-content .sec .services-cards .card-serv {
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #F3F3F3;
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-serv {
    width: 600px;
    height: 310px;
  }
}
.main-content .sec .services-cards .card-serv .content-card-serv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt {
    align-items: flex-start;
  }
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt h3 {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  padding-inline: 10px;
  background-color: #B9FF66;
  border-radius: 7px;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt h3 {
    font-size: 30px;
  }
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt .ts {
  width: 177px;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt .ts {
    width: 200px;
  }
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt a .ic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #191A23;
  color: #B9FF66;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt a .txt {
  display: none;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt a .txt {
    display: inline-block;
  }
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-img-card {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 150px;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-serv .content-card-serv .container-img-card {
    width: 210px;
    height: 170px;
  }
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-serv .content-card-serv .container-img-card img {
    object-fit: contain;
  }
}
.main-content .sec .services-cards .gre {
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #B9FF66;
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .gre {
    width: 600px;
    height: 310px;
  }
}
.main-content .sec .services-cards .gre .content-card-serv .container-card-txt h3 {
  background-color: #FFFFFF;
}
.main-content .sec .services-cards .gre .content-card-serv .container-card-txt .ts {
  width: 162px;
}
.main-content .sec .services-cards .dark {
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #191A23;
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .dark {
    width: 600px;
    height: 310px;
  }
}
.main-content .sec .services-cards .dark .content-card-serv .container-card-txt h3 {
  background-color: #FFFFFF;
}
.main-content .sec .services-cards .dark .content-card-serv .container-card-txt .ts {
  width: 146px;
}
.main-content .sec .services-cards .dark .content-card-serv .container-card-txt .ts-3 {
  width: 165px;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .dark .content-card-serv .container-card-txt a {
    color: #FFFFFF;
  }
}
.main-content .sec .services-cards .dark .content-card-serv .container-card-txt a .ic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #191A23;
}
.main-content .sec .services-cards .dark .content-card-serv .card-3 {
  bottom: 0px;
}
.main-content .sec .services-cards .card-4 .content-card-serv .container-card-txt h3 {
  width: 85px;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-4 .content-card-serv .container-card-txt h3 {
    width: 95px;
  }
}
.main-content .sec .services-cards .card-4 .content-card-serv .container-card-txt .ts {
  width: 146px;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-4 .content-card-serv .container-card-txt .ts {
    width: 165px;
  }
}
.main-content .sec .services-cards .card-4 .content-card-serv .container-img-card {
  bottom: 10px;
}
.main-content .sec .services-cards .card-5 .content-card-serv .container-img-card {
  bottom: 5px;
}
.main-content .sec .services-cards .card-6 .content-card-serv .container-card-txt h3 {
  background-color: #B9FF66;
  width: 219px;
}
.main-content .sec .services-cards .card-6 .content-card-serv .container-card-txt .ts {
  width: 120px;
}
@media (width >= 1024px) {
  .main-content .sec .services-cards .card-6 .content-card-serv .container-card-txt .ts {
    width: 143px;
  }
}
.main-content .sec .cta {
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #F3F3F3;
  border: 0;
  box-shadow: none;
}
@media (width >= 1024px) {
  .main-content .sec .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 60px;
  }
}
.main-content .sec .cta .cta-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: left;
}
@media (width >= 1024px) {
  .main-content .sec .cta .cta-txt {
    gap: 26px;
    width: 500px;
    height: 227px;
  }
}
.main-content .sec .cta .cta-txt h3 {
  font-size: 26px;
  font-weight: 500;
  color: #000000;
}
@media (width >= 1024px) {
  .main-content .sec .cta .cta-txt h3 {
    font-size: 30px;
  }
}
.main-content .sec .cta .cta-txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 15px;
  line-height: 19px;
}
@media (width >= 1024px) {
  .main-content .sec .cta .cta-txt p {
    font-size: 18px;
  }
}
.main-content .sec .cta figure {
  display: none;
}
.main-content .sec .cta figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (width >= 1024px) {
  .main-content .sec .cta figure {
    display: block;
  }
}
.main-content .sec .container-cards-process {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-content .sec .container-cards-process .card-process {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85px;
  gap: 20px;
  padding: 18px 30px;
  background-color: #F3F3F3;
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
  border-radius: 45px;
  overflow: hidden;
  transition: all 0.05s ease;
}
.main-content .sec .container-cards-process .card-process .header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.main-content .sec .container-cards-process .card-process .header-card .container-title {
  display: flex;
  align-items: center;
  width: 233px;
  gap: 10px;
}
.main-content .sec .container-cards-process .card-process .header-card .container-title h1 {
  font-size: 35px;
  font-weight: 500;
  color: #000000;
}
.main-content .sec .container-cards-process .card-process .header-card .container-title h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.main-content .sec .container-cards-process .card-process .line {
  width: 100%;
  height: 1px;
  background-color: #000000;
}
.main-content .sec .container-cards-process .card-process .container-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
@media (width >= 1024px) {
  .main-content .sec .container-cards-process .card-process .container-text p {
    font-size: 18px;
  }
}
.main-content .sec .container-cards-process .active {
  height: auto;
  background-color: #B9FF66;
}
.main-content .sec .container-card-team {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 1250px;
  overflow: hidden;
  padding-bottom: 20px;
}
.main-content .sec .container-card-team .card-person {
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
  border-radius: 45px;
  padding: 31px 25px;
}
.main-content .sec .container-card-team .card-person .content-card-person {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  position: relative;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .container-foto {
  width: 95px;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .container-foto img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .name-and-cargo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .name-and-cargo h4 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .name-and-cargo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
@media (width >= 1024px) {
  .main-content .sec .container-card-team .card-person .content-card-person .header-card-person .name-and-cargo p {
    font-size: 18px;
  }
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191A23;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .container-icon i {
  color: #B9FF66;
}
.main-content .sec .container-card-team .card-person .content-card-person .line {
  width: 100%;
  height: 1px;
  background-color: #000000;
}
.main-content .sec .container-card-team .card-person .content-card-person .container-txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
@media (width >= 1024px) {
  .main-content .sec .container-card-team .card-person .content-card-person .container-txt p {
    font-size: 18px;
  }
}
.main-content .sec .container-testimonials .card-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 20px 40px 20px;
  background-color: #191A23;
  border-radius: 45px;
}
.main-content .sec .container-testimonials .card-testimonials .content-testimonials {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.main-content .sec .container-testimonials .card-testimonials .content-testimonials .container-txt {
  position: relative;
  padding: 20px;
  border-radius: 45px;
  border: 1px solid #B9FF66;
}
.main-content .sec .container-testimonials .card-testimonials .content-testimonials .container-txt::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 45px;
  width: 30px;
  height: 30px;
  background: #191A23;
  border: 1px solid #B9FF66;
  transform: rotate(45deg);
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
.main-content .sec .container-testimonials .card-testimonials .content-testimonials .container-txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 15px;
  color: #FFFFFF;
}
@media (width >= 1024px) {
  .main-content .sec .container-testimonials .card-testimonials .content-testimonials .container-txt p {
    font-size: 18px;
  }
}
.main-content .sec .container-testimonials .card-testimonials .content-testimonials .container-name {
  padding-left: 65px;
}
.main-content .sec .container-testimonials .card-testimonials .content-testimonials .container-name h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  color: #B9FF66;
}
.main-content .sec .container-testimonials .card-testimonials .content-testimonials .container-name h4 {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  color: #FFFFFF;
}
.main-content .sec .container-testimonials .card-testimonials .navbar-testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content .sec .container-testimonials .card-testimonials .navbar-testimonials .container-stars {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-content .sec .container-testimonials .card-testimonials .navbar-testimonials .container-stars img {
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.main-content .sec .container-contact-us {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-content .sec .container-contact-us .container-form {
  padding: 40px 20px 50px 20px;
  background-color: #F3F3F3;
  border-radius: 45px;
}
.main-content .sec .container-contact-us .container-form .form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.main-content .sec .container-contact-us .container-form .form-contact label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
@media (width >= 1024px) {
  .main-content .sec .container-contact-us .container-form .form-contact label {
    font-size: 18px;
  }
}
.main-content .sec .container-contact-us .container-form .form-contact .container-inputs-radio {
  display: flex;
  gap: 30px;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-inputs-radio .form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-inputs-radio .form-group input[type=radio] {
  appearance: none;
  width: 28px;
  height: 28px;
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-inputs-radio .form-group input[type=radio]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: #B9FF66;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-inputs-radio .form-group input[type=radio]:checked::after {
  opacity: 1;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-group-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-group-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-group-form .form-group input {
  height: 59px;
  border-radius: 14px;
  border: 1px solid #000000;
  padding-inline: 20px;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-group-form .form-group input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #898989;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-group-form .form-group input:focus {
  outline: none;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-group-form .form-group .textarea-msg {
  height: 140px;
  border: 1px solid #000000;
  border-radius: 14px;
  padding: 20px;
  resize: none;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-group-form .form-group .textarea-msg::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #898989;
}
.main-content .sec .container-contact-us .container-form .form-contact .container-group-form .form-group .textarea-msg:focus {
  outline: none;
}
.main-content .sec .container-contact-us .container-img {
  display: none;
}
.main-content .case {
  position: relative;
  height: 500px;
}
@media (width >= 1024px) {
  .main-content .case {
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: auto;
  }
}
.main-content .case .content-case {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 357px;
  overflow: hidden;
}
@media (width >= 1024px) {
  .main-content .case .content-case {
    position: relative;
    width: 100%;
    height: 326px;
    padding: 70px 60px;
    background-color: #191A23;
    border-radius: 45px;
    overflow: visible;
  }
}
.main-content .case .content-case .conatiner-cards-cases {
  display: flex;
  gap: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
@media (width >= 1024px) {
  .main-content .case .content-case .conatiner-cards-cases {
    justify-content: space-between;
    align-items: center;
    gap: 0;
    overflow: visible;
  }
}
.main-content .case .content-case .conatiner-cards-cases .card-case {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #191A23;
  flex-shrink: 0;
  width: 310px;
  height: 280px;
}
@media (width >= 1024px) {
  .main-content .case .content-case .conatiner-cards-cases .card-case {
    width: 286px;
    height: 188px;
    flex-shrink: 1;
    border-radius: 0;
    padding: 0;
  }
}
.main-content .case .content-case .conatiner-cards-cases .card-case p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 14px;
  color: #FFFFFF;
}
@media (width >= 1024px) {
  .main-content .case .content-case .conatiner-cards-cases .card-case p {
    font-size: 18px;
  }
}
.main-content .case .content-case .conatiner-cards-cases .card-case a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  text-decoration: none;
  color: #B9FF66;
  font-size: 20px;
}
@media (width >= 1024px) {
  .main-content .case .content-case .conatiner-cards-cases .card-case a {
    height: 28px;
  }
}
.main-content .case .content-case .conatiner-cards-cases .card-case a .ic {
  font-size: 26px;
}
.main-content .case .content-case .conatiner-cards-cases .line {
  display: inline-block;
  width: 1px;
  height: 200px;
  background-color: #FFFFFF;
}

footer {
  margin-top: 90px;
}
@media (width >= 1024px) {
  footer {
    max-width: 1440px;
    padding-inline: 80px;
    margin: 70px auto 0 auto;
  }
}
footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding-block: 50px;
  background-color: #191A23;
}
@media (width >= 1024px) {
  footer .footer {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    padding: 50px 60px;
  }
}
footer .footer .sec1-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}
@media (width >= 1024px) {
  footer .footer .sec1-footer {
    width: 100%;
  }
}
footer .footer .sec1-footer .container-sec1-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}
footer .footer .sec1-footer .container-sec1-footer .container-logo-footer {
  width: 150px;
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer .container-logo-footer {
    width: 180px;
  }
}
footer .footer .sec1-footer .container-sec1-footer .container-logo-footer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
footer .footer .sec1-footer .container-sec1-footer .navbar-footer {
  width: 100%;
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer .navbar-footer {
    width: 501px;
  }
}
footer .footer .sec1-footer .container-sec1-footer .navbar-footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  width: 100%;
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer .navbar-footer ul {
    justify-content: space-between;
  }
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer .navbar-footer ul {
    flex-direction: row;
  }
}
footer .footer .sec1-footer .container-sec1-footer .navbar-footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 4px;
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer .navbar-footer ul li {
    width: auto;
    display: block;
  }
}
footer .footer .sec1-footer .container-sec1-footer .navbar-footer ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer .navbar-footer ul li a {
    font-size: 18px;
  }
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer .navbar-footer ul li a {
    font-size: 18px;
    text-decoration: underline;
  }
}
footer .footer .sec1-footer .container-sec1-footer .container-social-midia {
  display: none;
  justify-content: space-between;
  width: 130px;
  gap: 20px;
}
footer .footer .sec1-footer .container-sec1-footer .container-social-midia a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #191A23;
  cursor: pointer;
}
footer .footer .sec1-footer .container-sec1-footer .container-social-midia a i {
  font-size: 20px;
}
@media (width >= 1024px) {
  footer .footer .sec1-footer .container-sec1-footer .container-social-midia {
    display: flex;
  }
}
footer .footer .sec2-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 340px;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    height: 184px;
    margin-top: 68px;
  }
}
footer .footer .sec2-footer .container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .container-contact {
    align-items: flex-start;
    gap: 27px;
    width: 332px;
    height: 100%;
  }
}
footer .footer .sec2-footer .container-contact h4 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  padding-inline: 10px;
  border-radius: 7px;
  background-color: #B9FF66;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .container-contact h4 {
    font-size: 20px;
  }
}
footer .footer .sec2-footer .container-contact .content-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .container-contact .content-contacts {
    align-items: flex-start;
    gap: 20px;
  }
}
footer .footer .sec2-footer .container-contact .content-contacts p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .container-contact .content-contacts p {
    font-size: 18px;
  }
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .container-contact .content-contacts p {
    font-size: 18px;
    text-align: left;
  }
}
footer .footer .sec2-footer .container-contact .content-contacts .wrap {
  display: flex;
  flex-direction: column;
}
footer .footer .sec2-footer .conatiner-form-footer {
  width: 100%;
  padding: 30px;
  background-color: #292A32;
  border-radius: 14px;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .conatiner-form-footer {
    width: 634px;
    height: 100%;
    padding: 58px 40px;
  }
}
footer .footer .sec2-footer .conatiner-form-footer .form-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .conatiner-form-footer .form-footer {
    flex-direction: row;
  }
}
footer .footer .sec2-footer .conatiner-form-footer .form-footer input[type=email] {
  width: 100%;
  height: 68px;
  border-radius: 14px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding-inline: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}
footer .footer .sec2-footer .conatiner-form-footer .form-footer input[type=email]::placeholder {
  color: #FFFFFF;
}
footer .footer .sec2-footer .conatiner-form-footer .form-footer input[type=email]:focus {
  outline: none;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .conatiner-form-footer .form-footer input[type=email] {
    width: 285px;
    height: 67px;
  }
}
footer .footer .sec2-footer .social-midia-sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}
footer .footer .sec2-footer .social-midia-sec2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #191A23;
  cursor: pointer;
}
footer .footer .sec2-footer .social-midia-sec2 a i {
  font-size: 20px;
}
@media (width >= 1024px) {
  footer .footer .sec2-footer .social-midia-sec2 {
    display: none;
  }
}
footer .footer .sec3-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  padding-top: 40px;
  border-top: 3px solid #FFFFFF;
}
@media (width >= 1024px) {
  footer .footer .sec3-footer {
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 78px;
    margin-top: 50px;
    border-width: 1px;
  }
}
footer .footer .sec3-footer .container-direitos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (width >= 1024px) {
  footer .footer .sec3-footer .container-direitos {
    flex-direction: row;
    gap: 40px;
  }
}
footer .footer .sec3-footer .container-direitos p, footer .footer .sec3-footer .container-direitos a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
@media (width >= 1024px) {
  footer .footer .sec3-footer .container-direitos p, footer .footer .sec3-footer .container-direitos a {
    font-size: 18px;
  }
}
@media (width >= 1024px) {
  footer .footer .sec3-footer .container-direitos p, footer .footer .sec3-footer .container-direitos a {
    font-size: 18px;
  }
}
@media (width >= 1024px) {
  footer .footer .sec3-footer .container-direitos a {
    text-decoration: underline;
  }
}

.btn-intro, .btn-sub, .btn-msg, .btn-all, .btn-cta, .btn-request {
  width: 100%;
  height: 68px;
  border: 0;
  border-radius: 14px;
  background-color: #191A23;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
}
@media (width >= 1024px) {
  .btn-intro, .btn-sub, .btn-msg, .btn-all, .btn-cta, .btn-request {
    width: 264px;
  }
}

.btn-menu, .btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-menu span, .btn-close span {
  font-size: 1.8rem;
  color: #000000;
}

.btn-cta {
  height: 58px;
  font-size: 15px;
}
@media (width >= 1024px) {
  .btn-cta {
    width: 288px;
    height: 68px;
    font-size: 20px;
  }
}

.btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #F3F3F3;
  border: 1px solid #191A23;
  border-radius: 50%;
  cursor: pointer;
}
.btn-more span {
  color: #191A23 !important;
}

.btn-testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-testimonials span {
  color: rgba(255, 255, 255, 0.4);
}

.active span {
  color: #FFFFFF;
}

.btn-sub {
  background-color: #B9FF66;
  color: #000000;
}
@media (width >= 1024px) {
  .btn-sub {
    width: 249px;
    height: 67px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

/*# sourceMappingURL=style.css.map */
