header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-inline: 20px;
}
header .container-logo img {
  width: 130px;
  object-fit: cover;
}
header .navbar {
  display: none;
}
header .btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .btn-menu span {
  font-size: 1.8rem;
  color: #000000;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px);
}
.introduction .container-introduction {
  width: 340px;
  height: 100%;
  padding-block: 20px;
  position: relative;
}
.introduction .container-introduction .container-text-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.introduction .container-introduction .container-text-intro h1 {
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}
.introduction .container-introduction .container-text-intro .content-txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.introduction .container-introduction .container-text-intro .content-txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 15px;
}
.introduction .container-introduction .container-img-intro {
  position: absolute;
  width: 350px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 30px;
}
.introduction .container-introduction .container-img-intro img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logotypes {
  display: flex;
  flex-direction: column;
  height: 120px;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
}
.logotypes .container-logos-1,
.logotypes .container-logos-2 {
  display: flex;
  gap: 20px;
}
.logotypes .container-logos-1 img,
.logotypes .container-logos-2 img {
  width: 110px;
  height: 48px;
  filter: grayscale(100%);
}
.logotypes .container-logos-1 {
  position: absolute;
  top: 0;
  left: 50px;
}
.logotypes .container-logos-2 {
  position: absolute;
  right: 55px;
  bottom: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}
.main-content .sec {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 340px;
}
.main-content .sec .sec-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.main-content .sec .sec-header .container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .sec .sec-header h2 {
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  padding-inline: 10px;
  background-color: #B9FF66;
  border-radius: 7px;
}
.main-content .sec .sec-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 14px;
}
.main-content .sec .services-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.main-content .sec .services-cards .card-serv {
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #F3F3F3;
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
}
.main-content .sec .services-cards .card-serv .content-card-serv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt h3 {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  padding-inline: 10px;
  background-color: #B9FF66;
  border-radius: 7px;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt .ts {
  width: 177px;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt a {
  text-decoration: none;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt a .ic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #191A23;
  color: #B9FF66;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-card-txt a .txt {
  display: none;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-img-card {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 150px;
}
.main-content .sec .services-cards .card-serv .content-card-serv .container-img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .sec .services-cards .gre {
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #B9FF66;
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
}
.main-content .sec .services-cards .gre .content-card-serv .container-card-txt h3 {
  background-color: #FFFFFF;
}
.main-content .sec .services-cards .gre .content-card-serv .container-card-txt .ts {
  width: 162px;
}
.main-content .sec .services-cards .dark {
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #191A23;
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
}
.main-content .sec .services-cards .dark .content-card-serv .container-card-txt h3 {
  background-color: #FFFFFF;
}
.main-content .sec .services-cards .dark .content-card-serv .container-card-txt .ts {
  width: 146px;
}
.main-content .sec .services-cards .dark .content-card-serv .container-card-txt a .ic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #191A23;
}
.main-content .sec .services-cards .dark .content-card-serv .card-3 {
  bottom: 0px;
}
.main-content .sec .services-cards .card-4 .content-card-serv .container-card-txt h3 {
  width: 85px;
}
.main-content .sec .services-cards .card-4 .content-card-serv .container-card-txt .ts {
  width: 146px;
}
.main-content .sec .services-cards .card-4 .content-card-serv .container-img-card {
  bottom: 10px;
}
.main-content .sec .services-cards .card-5 .content-card-serv .container-img-card {
  bottom: 5px;
}
.main-content .sec .services-cards .card-6 .content-card-serv .container-card-txt h3 {
  width: 186px;
}
.main-content .sec .services-cards .card-6 .content-card-serv .container-card-txt .ts {
  width: 120px;
}
.main-content .sec .cta {
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #F3F3F3;
  border: 0;
  box-shadow: none;
}
.main-content .sec .cta .cta-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: left;
}
.main-content .sec .cta .cta-txt h3 {
  font-size: 26px;
  font-weight: 500;
  color: #000000;
}
.main-content .sec .cta .cta-txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 15px;
  line-height: 19px;
}
.main-content .sec .cta figure {
  display: none;
}
.main-content .sec .container-cards-process {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-content .sec .container-cards-process .card-process {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85px;
  gap: 20px;
  padding: 18px 30px;
  background-color: #F3F3F3;
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
  border-radius: 45px;
  overflow: hidden;
}
.main-content .sec .container-cards-process .card-process .header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.main-content .sec .container-cards-process .card-process .header-card .container-title {
  display: flex;
  align-items: center;
  width: 233px;
  gap: 10px;
}
.main-content .sec .container-cards-process .card-process .header-card .container-title h1 {
  font-size: 35px;
  font-weight: 500;
  color: #000000;
}
.main-content .sec .container-cards-process .card-process .header-card .container-title h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.main-content .sec .container-card-team {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 1250px;
  overflow: hidden;
  padding-bottom: 20px;
}
.main-content .sec .container-card-team .card-person {
  box-shadow: 0 7px 0 #191A23;
  border: 1px solid #191A23;
  border-radius: 45px;
  padding: 31px 25px;
}
.main-content .sec .container-card-team .card-person .content-card-person {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  position: relative;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .container-foto {
  width: 95px;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .container-foto img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .name-and-cargo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .name-and-cargo h4 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .name-and-cargo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191A23;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.main-content .sec .container-card-team .card-person .content-card-person .header-card-person .container-icon i {
  color: #B9FF66;
}
.main-content .sec .container-card-team .card-person .content-card-person .line {
  width: 100%;
  height: 1px;
  background-color: #000000;
}
.main-content .sec .container-card-team .card-person .content-card-person .container-txt p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
.main-content .case {
  position: relative;
  height: 500px;
}
.main-content .case .content-case {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 357px;
  overflow: hidden;
}
.main-content .case .content-case .conatiner-cards-cases {
  display: flex;
  gap: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.main-content .case .content-case .conatiner-cards-cases .card-case {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 340px;
  padding: 50px;
  border-radius: 45px;
  background-color: #191A23;
  flex-shrink: 0;
  width: 310px;
  height: 280px;
}
.main-content .case .content-case .conatiner-cards-cases .card-case p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  font-size: 14px;
  color: #FFFFFF;
}
.main-content .case .content-case .conatiner-cards-cases .card-case a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  text-decoration: none;
  color: #B9FF66;
  font-size: 20px;
}
.main-content .case .content-case .conatiner-cards-cases .card-case a .ic {
  font-size: 26px;
}

.btn-intro, .btn-all, .btn-cta {
  width: 100%;
  height: 68px;
  border: 0;
  border-radius: 14px;
  background-color: #191A23;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
}

.btn-cta {
  height: 58px;
  font-size: 15px;
}

.btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #191A23;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

section img,
main img {
  width: 50px;
}

/*# sourceMappingURL=style.css.map */
